<section class="content">
    <h2>Create New Blog</h2>

    <form action="/blogs" method="POST">
        <%- include('_form_fields.ejs') %>

        <div>
            <a class="btn btn-danger" href="/blogs">Cancel</a>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</section>