<section class="content display-blog">
    <div class="display-blog-buttons">
        <a class="btn btn-primary" href="/blogs/<%= blog.id %>/edit">Edit</a>

        <form action="/blogs/<%= blog.id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
    </div>

    <div class="blog-row">
        <h2 class="display-blog-title"><%= blog.title %></h2>
        <div class="display-blog-body"><%= blog.body %></div>
    </div>
    
</section>