<section class="content">
    <h2>Update Blog</h2>

    <form action="/blogs/<%= blog.id %>?_method=PUT" method="POST">
        <%- include('_form_fields.ejs') %>

        <div>
            <a class="btn btn-danger" href="/blogs">Cancel</a>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</section>