<section class="content search-blog-form">
    <h2>Search Blogs</h2>

    <form action="/blogs" method="GET">
        <div class="form-row">
            <label for="blog-title">Title</label>
            <input type="text" id="blog-title" name="title" value="<%= searchOptions.title %>">
        </div>
        <div class="form-row">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</section>

<section class=" content display-all-blogs">
    <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
            <div class="blog-row">
                <h2><a href="/blogs/<%= blog.id %>"><%= blog.title %></a></h2>
                <p><%= blog.snippet %></p>
            </div>
        <% }) %>
    <% } else { %>
        <div>No blogs to display.</div>
    <% } %>
    
</section>
