<header>
    <div class="brand">
        <h1 class="brand"><a href="/">PotterBlog</a></h1>
        <small>A blog for PotterHeads</small>
    </div>

    <nav class="main-nav">
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs">All Blogs</a></li>
            <li><a href="/blogs/create">Create New</a></li>
        </ul>
    </nav>
</header>