<section class="content about">
    <h2>About PotterBlog</h2>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium sunt optio
    doloribus quo temporibus quaerat unde tempore, possimus consequuntur sequi non
    inventore blanditiis aspernatur rem incidunt? Quidem expedita iusto aut, iure
    enim recusandae ducimus, debitis fugit labore in sint, quo consequuntur
    assumenda autem dolorem. Architecto, veritatis officiis. Deleniti, distinctio
    incidunt. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor rem
    sunt nobis tempora dolorem fugit odio soluta ad, eum natus aspernatur nihil,
    quaerat officiis quam vero deleniti voluptas repellat illo inventore hic minus
    facilis? Veritatis optio sed similique mollitia laborum natus deleniti itaque,
    laboriosam aperiam consequatur corrupti aliquid reprehenderit quis.
</section>